//colors
//$cl-navbarBG :  #333F65 ;
$cl-navbarBG :  rgb(226, 226, 226) ;
//$cl-navbarBG:  #3D4A74 ;
$cl-navbarBG-alt2 : #485274 ;
$cl-navbarText : #dedede ;
$cl-navbarText-select : #3D7F81 ;

//fonts
$ft-Lato :'"Lato", sans-serif';
 